@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
   
    <br />
    <br />
    <p>这是netcore thrift client！</p>

    <p>@Model.Text1</p>
    <p>@Model.Text2</p>
    <p>@Model.Text3</p>
    <p>@Model.Text4</p>
  
</div>



   
   
    

